.page {

   margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

h3{
color: brown;
}

h4{
    color: coral;
}

body{
    font-family: "Century Schoolbook L";
}

p{
    font-size: 2em;
}

h1 {text-align: center;
}

p {
    text-align: center;
}
div {
    text-align: center;
}

h5{
    color: brown;
}
