<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!--fonts -->

     <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


    {% if title %}
    <title>{{title}} - Prediction WebApp</title>
    {% else %}
    <title>Prediction WebApp</title>
    {% endif %}
  </head>
  <body>


        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}



<!--  Navbar-->


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="{{ url_for('home') }}">Rossmann Analytics Team</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('about_project') }}">About Project<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('analysis') }}">Analysis</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/home">Home</a>-->
<!--      </li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Predictions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
{#          <a class="dropdown-item" href="{{ url_for('time_series') }}">Time Series</a>#}
          <a type="button" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#time-series-form" data-whatever="@mdo"> Time Forecast</a>
            <a class="dropdown-item" href="{{ url_for('predict_sales') }}">Sales Forecast</a>
{#          <a class="dropdown-item" href="{{ url_for('cust_churn') }}">Customer Churn</a>#}
        </div>
      </li>
    </ul>
  </div>
</nav>


<!--  jumbotron-->

    <div class="jumbotron">
      <h1 class="display-4">Actionable Insights</h1>
      <p class="lead">This project was carried out by a team of Data Scientists to analyse Rossman Pharmaceuticals Data
          and make inferecnes concerning sales and customer churn.</p>
      <hr class="my-4">
      <p>The Project encompasses Exploratory Data Analysis (EDA) & Visualizations and Machine Learning.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('analysis') }}" role="button">Analysis</a>
{#        <a class="btn btn-primary btn-lg" href="{{ url_for('time_series') }}" role="button">Predictions</a>#}
          <button type="button" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#time-series-form" data-whatever="@mdo"> Time Forecast</button>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sales-pred-form">
  Sales Predictions
</button>

      </p>

    </div>

{#        TIme Series Modal#}
<div class="modal fade" id="time-series-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Time Series Predictions for Sales</h5>
          <p></p>
          <p></p>
        <bold><small>Predictions are run from today till the number of days specified</small></bold>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <form action="{{ url_for('time_series')}}" method="post">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Forecast Length</label>
            <input type="number" class="form-control" id="days" placeholder="Number of days to Forecast Sales" required>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#        <a type="submit" class="btn btn-primary" >Predict</a>#}
          <button type="submit" class="btn btn-primary btn-block btn-large">Get Predictions</button>
          </div>
            </form>
      </div>
    </div>
  </div>
</div>


{#        SSales Prediction Modal#}
<div class="modal fade" id="sales-pred-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Data</h5>
          <ul>
              <li>Sales Data</li>
              <li>Train Data</li>
          </ul>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('predict_sales') }}" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Store Data:</label>
            <input type="file" class="form-control" id="store-data"  name="store-data-file" value="upload-store" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Train Data</label>
            <input type="file" class="form-control" id="train-data" name="train-data-file" value="upload-train" required>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#        <a type="submit" class="btn btn-primary" >Predict</a>#}
                  <button type="submit" class="btn btn-primary btn-block btn-large">Get Predictions</button>
            </form>
      </div>
    </div>
  </div>
</div>































    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  {% block content %}{% endblock %}

  </body>
</html>